<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tool Sharing Platform</title>
</head>
<body>

    <h1>Tool Sharing Platform</h1>

    <p>Πλατφόρμα δανεισμού εργαλείων.</p>

    <h2>Διαθέσιμα εργαλεία</h2>
	<a href="/add">+ Προσθήκη εργαλείου</a>

    <ul>
        {% for tool in tools %}
            <li>
			<strong>{{ tool["name"] }}</strong>
			- {{ tool["description"] }}

    <br>

    <a href="/request/{{ tool['id'] }}">
        Αίτημα δανεισμού
    </a>
</li>
        {% endfor %}
    </ul>

</body>
</html>